.ChallengeBoxContainer{
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.ChallengeNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChallengeNotActive strong{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.ChallengeNotActive p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.ChallengeNotActive p img{
    margin-bottom: 1rem;
}

.ChallangeActive{
    height: 100%;

    display: flex;
    flex-direction: column;
}

.ChallangeActive header{
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.ChallangeActive main{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.ChallangeActive main strong{
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.ChallangeActive main p{
    line-height: 1.5;
}

.ChallangeActive footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
} 

.ChallangeActive footer button{
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);

    transition: filter 0.2s;
}

.ChallangeActive footer button.challengeFailedButton{
    background: var(--red);
}

.ChallangeActive footer button.challengeSucceedButton{
    background: var(--green);
}

.ChallangeActive footer button:hover{
    filter: brightness(0.9);
}